%a{:href => "/"} All auditions
%form{:method => "post", :action => "/add"}
  %label Project title
  %input{:type => "text", :name => "title"}
  
  %label When?
  %input{:type => "text", :name => "datepicker", :id => "datepicker"}
  %input{:type => "hidden", :name => "when_date", :id => "when_date"}
  
  %select{:name => "when_time"}
    - times_of_day.each do |time|
      %option{:value => time, :selected => (time=="1:00 pm")}= time
  %label Pick a time.
  
  %label Where?
  %input{:type => "text", :name => "where"}
  
  %label What are you looking for? (gender, age...)
  %textarea{:name => "description"}
  
  %input{:type => "submit"}