%a#list{:href => "/"} 
  %span Back to <br>home
.audition
  %h2 Delete an audition
  %form.admin{:method => "post", :action => "/admin"}
    %label Password
    %input{:type => "text", :name => "pwd"}
    
    %label Delete audition (enter id)
    %input{:type => "text", :name => "delete"}
  
    %input{:type => "submit", :value => "Delete a record"}
  
  %h2 Special operation 
  %form.admin{:method => "post", :action => "/admin"}
    %label Password
    %input{:type => "text", :name => "pwd"}
    
    %label Operation name (reset, add dev data)
    %input{:type => "text", :name => "operation", :value => ""}
  
    %input{:type => "submit", :value => "EXECUTE OPERATION"}
  
  %h2 Run a migration
  %form.admin{:method => "post", :action => "/admin"}
    %select{:name => "migration"}
      - @migrations.each do |m|
        %option{:value => m}= m
    %input{:type => "submit", :vlaue => "RUN MIGRATION"}
  