!!!
%html
  %head
    %link{:href => "/stylesheets/style.css", :media => "screen", :rel => "stylesheet", :type => "text/css"}
    %title UCLA Casting
  %body
    %h1 Castings at UCLA
    = yield